{
    "presets": [
        "@babel/env",
        "@babel/typescript",
        "@babel/react",
        "@babel/stage-0"
    ],
    "plugins": [
        "lodash",
        ["babel-plugin-styled-components", {
            "ssr": true
        }]
    ],
    "env": {
        "production": {
            "plugins": [
                [
                    "transform-react-remove-prop-types",
                    {
                        "mode": "remove",
                        "removeImport": true
                    }
                ]
            ]
        }
    }
}
